*{
    margin: 0;
    padding: 0;
	border: 0;
	font-family: 'Space Grotesk', sans-serif;
	list-style-type: none;
}

@media only screen and (min-width: 1201px) {
	
/*----------main----------*/

h1{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	color: #e9e9e9;
	background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
	text-align: center;
}

label{
	display: flex;
	font-size: 40px;
	width: 20%;
	justify-content: center;
	color: #121212;
	margin: 15px;
}

.membros_posts{
	display: flex;
	align-items: center;
	width: 98%;
	justify-content: center;
}

.members_posts-div{
	display: flex;
	width: 80%;
	height: 150px;
	margin: 10px;
	align-items: center;
	align-content: center;
	border-radius: 10px;
	border: 1px solid #121212;
	justify-content: center;
}

.members_posts-div span{
	display: flex;
	font-size: 40px;
	color: #f7334e;
	align-items: center;
	margin: 10px;
}

.usuarios{
	display: flex;
	justify-content: center;
	width: 99%;
	margin: 10px;
}

.usuarios table{
	width: 95vw;
	border: 1px solid #121212;
	border-radius: 10px;
	font-size: 10px;
}

.search{
	display: flex;
	width: 95vw;
    justify-content: center;
	margin: 0 auto;
	align-items: center;
	margin-top: 15px;
}

#pesquisa{
	width: 92vw;
	height: 40px;
	border-radius: 30px;
	background-color: #e9e9e9;
	color: #121212;
	padding: 0 1.6vw;
	font-size: 1rem;
	outline: 0;
}

#pesquisa::placeholder{
	position: absolute;
	color: #858585;
	font-size: 1rem;
	margin-top: 10px;
	text-align: center;
}

#pesquisa:focus ~ #lupa{
	opacity: 0;
}

.search .material-symbols-outlined{
	width: 3vw;
    opacity: 0.9;
}


#filter:hover{
	cursor: pointer;
}

.pop-up-a{
	display: none;
	width: 100vw;
	position: fixed;
	top: 30px;
	z-index: 20000;
	justify-content: center;
}

.modal-a{
	display: flex;
	flex-direction: column;
	background-color: #e7e7e7;
	color: #202020;
	width: 300px;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0px 5px 20px #20202077;
}

.modal-a span{
	margin: 10px 0;
}

.filter-option{
	display: flex;
	align-items: center;
}

.filter-option span{
	margin-right: 5px;	
}

.btn-sim-a{
	color: #d8d8d8;
	background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
	padding: 5px 15px;
	border-radius: 30px;
}

.btn-nao-a{
	border-radius: 30px;
    color: #202020;
	padding: 5px 15px;
}

.btn-sim-a:hover{
	opacity: .8;
	cursor: pointer;
}

.btn-nao-a:hover{
	opacity: .8;
	cursor: pointer;
}

.active-a{
	display: flex;
}

.active-a .modal-a{
	animation: popup-a;
	animation-duration: .2s;
}

@keyframes popup-a {
	from{
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

th{
color: white;
background-color: #202020;
}

table {
border-collapse: collapse;
margin: auto;
}

th, td{
padding: 10px;
text-align: center;
width: 120px;
}

th{
font-weight: bold;
}

tr:nth-child(even) {
background-color: #ffb6c0;
}

tr:hover:nth-child(1n + 2) {
background-color: #f7334e;
color: #fff;
}

tr:hover:nth-child(1n + 2) .material-symbols-outlined {
	color: white;
}

th:first-child, td:first-child {
	width: 400px;
}

th .material-symbols-outlined{
	vertical-align: middle;
	color: white;
	float: none;
	color: white;
	margin: 0 15px;
}

th .material-symbols-outlined:hover{
	transform: none;
	cursor: default;
}

td img{
	border-radius: 100%;
	border: 1px solid #121212;
	width: 32px;
	vertical-align: middle;
	padding: 2px;
	background-color: white;
	margin: 0 10px;
}

.material-symbols-outlined{
	vertical-align: middle;
	color: #121212;
	float: right;
	margin-left: 20px;
}

.material-symbols-outlined:hover{
	transform: scale(1.1);
	cursor: pointer;
	transition: 1s;
}

#reatv-user:hover{
	color: #1e814b;
}

.linha-vertical {
	height: 100px;
	border-left: 1px solid #121212;
  }

  .slider-edit{
	margin: 0 auto 60px auto;
	width: 95vw;
	height: 540px;
  }

  .img-s-edicao{
	display: flex;
	overflow: hidden;
	width: 800px;
	height: 500px;
	border-radius: 30px;
	margin: 0 auto;
	border: 3px dashed #f7334e;
  }

  .img-s-edicao img{
	width: 800px;
	height: 500px;
	border-radius: 30px;
  }

  .btns-n-p{
	display: flex;
	align-items: center;
  }

  .btns-n-p button{
	display: flex;
	align-items: center;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin: 10px;
  }	

  .slider-edit .material-symbols-outlined{
	transform: none;
	vertical-align: center;
	justify-content: center;
	text-align: center;
	margin: 10px;
  }	

  .slider-options{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 20px;
	width: auto;
  }

  .load-slide-img input{
	color: white;
	vertical-align: center;
	background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
  }

  #save{
    border-radius: 30px;
	width: 150px;
    background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
    color: white;
	height: 40px;
	margin: 0 10px;
	}

	#save:hover{
		background: linear-gradient(90deg, rgb(233, 28, 178) 0%, rgb(235, 134, 57) 100%);
	}

#cancel{
	border-radius: 30px;
	width: 150px;
    color: #202020;
	height: 40px;
	margin: 0 10px;
}

#cancel:hover{
	opacity: .9;

}

/*-------------------------*/

.pop-up{
	display: none;
	width: 100vw;
	position: fixed;
	top: 30px;
	z-index: 20000;
	justify-content: center;
}

.modal{
	display: flex;
	flex-direction: column;
	background-color: #e7e7e7;
	color: #202020;
	width: 300px;
	border-radius: 30px;
	padding: 20px;
	box-shadow: 0px 5px 20px #20202077;
}

.modal span{
	margin: 10px 0;
}

.btn-sim{
	color: #d8d8d8;
	background: linear-gradient(90deg, rgba(255,0,188,1) 0%, rgba(255,112,1,1) 100%);
	padding: 5px 15px;
	border-radius: 30px;
}

.btn-nao{
	border-radius: 30px;
    color: #202020;
	padding: 5px 15px;
}

.btn-sim:hover{
	opacity: .8;
	cursor: pointer;
}

.btn-nao:hover{
	opacity: .8;
	cursor: pointer;
}

.active{
	display: flex;
}

.active .modal{
	animation: popup;
	animation-duration: .2s;
}

@keyframes popup {
	from{
		opacity: 0;
		transform: translate3d(0, -60px, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/*---Rodapé---*/

footer{
	background-color: #424242;
	height: 550px;
}

.blocofooter{
	width: 90vw;
	margin: 0 auto;
	padding-top: 1vw;
}

.ShartsGroup{
	margin-top: 15px;
	display: flex;
	align-items: center;
	width: 90vw;
}

#LogoShartsFooter{
	float: left;
	margin: 0px 0;
	width: 20%;
}

footer h2{
	color: white;
	margin-left: 5px;
	float: left;
}

.redes-sociais-contato{
	margin-left: auto;
}

.redes-sociais-contato img{
	float: right;
	margin-left: 20px;
	width: 30px;
}

footer li{
	margin: 20px 0;
	color: white;
}

footer a{
	text-decoration: none;
	color: white;
}

}

